.App {
  text-align: center;
  font-family: sans-serif;
  
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#editor-header
,
#preview-header{
  text-align: start;
  font-size: 20px;
  background-color: #fdadb4;
  border: 1px solid black;
  box-sizing: border-box;
  height: 2em;
  width: 50%;
  
}
#code_icon {
  width: 3rem;
  margin-top: 8px;
}
#editor {
  margin: 0;
}

#editor,
#preview {
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid black;
  background-color: #fadadd;
  height: 400px; 
  overflow-y: auto; 
  margin-bottom: 10px;
}
#preview {
  width: 80%;
}
#preview-header {
  width: 80%;
}
img {
  max-width: 100%;
}